In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

df = pd.read_csv('C:\\Users\\SUVARNA\\Food_recommendation\\Recommendation\\recent_activity.csv')
df_data = pd.read_csv('C:\\Users\\SUVARNA\\Food_recommendation\\Recommendation\\dataset.csv')
df.head(10)

   User_Id    Meal_Id  Rated  Liked  Searched  Purchased            Timestamp
0  User_19   meal_id3      1      0         0          0  2020-03-01 12:03:24
1  User_69   meal_id7      0      1         0          0  2020-03-04 00:20:24
2  User_20   meal_id9      1      0         0          1  2020-03-05 14:31:10
3  User_96  meal_id10      0      0         1          1  2020-03-05 22:33:26
4  User_63  meal_id20      0      0         1          1  2020-03-07 06:42:30
5  User_63  meal_id21      0      1         0          1  2020-03-07 14:44:46
6  User_91  meal_id28      0      1         0          1  2020-03-09 10:57:14
7  User_31  meal_id29      1      0         0          1  2020-03-09 16:58:56
8  User_25  meal_id30      0      0         1          0  2020-03-10 01:01:12
9  User_89  meal_id24      1      0         0          1  2020-03-12 21:20:28

In [8]:
meal_ids = list(df.Meal_Id.unique())
recent_data = df_data[df_data.Meal_Id.isin(meal_ids)][['Nutrient','catagory','Disease','Diet']].reset_index(drop=True)

In [9]:
#plt.figure(figsize=(15,20))
#plt.subplot(3,1,1)
#plt.xticks(rotation=45)
#plt.title('Nutrient,Disease and diet populrity  in Recent activities')
print(recent_data.Nutrient.value_counts())

#sns.countplot(recent_data.Nutrient)
disease = []
for i in range(recent_data.shape[0]):
    for j in recent_data.loc[i,'Disease'].split():
        disease.append(j)

#plt.subplot(3,1,2)    
#sns.countplot(disease)
#plt.xticks(rotation=45)

diet = []
for i in range(recent_data.shape[0]):
    for j in recent_data.loc[i,'Diet'].split():
        diet.append(j)

#plt.subplot(3,1,3)    
#sns.countplot(diet)
#plt.xticks(rotation=45)

calcium          22
magnesium        16
iron             16
vitamin_c         8
vitamin_a         6
selenium          5
potassium         5
fiber             4
sodium            4
carbohydrates     3
chloride          2
Name: Nutrient, dtype: int64

In [10]:
value_counts = recent_data.Nutrient.value_counts()
m = recent_data.Nutrient.value_counts().mean()
print('mean occurance',m)
features = list(value_counts[recent_data.Nutrient.value_counts()>m].index)
value_counts[recent_data.Nutrient.value_counts()>m]

mean occurance 8.272727272727273

calcium      22
magnesium    16
iron         16
Name: Nutrient, dtype: int64

In [11]:
a = dict(Counter(disease))
# a = sorted(a.items(),key = lambda k:k[1],reverse=True)
print('mean occurance',np.mean(list(a.values())))
m = np.mean(list(a.values()))
for i in a.items():
    if i[1]>m:
        print(i)
        features.append(i[0])

mean occurance 29.083333333333332
('hypertension', 52)
('heart_disease', 32)
('goitre', 56)
('kidney_disease', 37)
('pregnancy', 33)
('obesity', 33)

In [12]:
a = dict(Counter(diet))
# a = sorted(a.items(),key = lambda k:k[1],reverse=True)
print('mean occurance',np.mean(list(a.values())))
m = np.mean(list(a.values()))
for i in a.items():
    if i[1]>m:
        print(i)
        features.append(i[0])

mean occurance 30.25
('low_fat_diet', 64)
('high_fiber_diet', 62)
('high_protien_diet', 72)
('vegan_diet', 62)
('ketogenic_diet', 70)

In [13]:
print(features)

['calcium', 'magnesium', 'iron', 'hypertension', 'heart_disease', 'goitre', 'kidney_disease', 'pregnancy', 'obesity', 'low_fat_diet', 'high_fiber_diet', 'high_protien_diet', 'vegan_diet', 'ketogenic_diet']